<a class="action--wishlist tile-actions--btn flex wishlist-btn" href="#" data-product-handle="{{ product.handle }}">
  <img class="btn--main" src="{{ 'icn-wishlist.svg' | asset_url }}" alt="add to wishlist">
</a>