// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

    $black:            rgb(30, 30, 30);
    $white:            rgb(255, 255, 255);
    $hover-gray:       #ccc;
    $border-gray:      #eee;
    $gray:             #afafaf;
    $dark-gray:        #686868;
    $gold:             #c4ab6a;
    $red:              #ff7272;

// =========================================================================
//  ______     ______     ______     __         ______
// /\  ___\   /\  ___\   /\  __ \   /\ \       /\  ___\
// \ \___  \  \ \ \____  \ \  __ \  \ \ \____  \ \  __\
//  \/\_____\  \ \_____\  \ \_\ \_\  \ \_____\  \ \_____\
//   \/_____/   \/_____/   \/_/\/_/   \/_____/   \/_____/
//
// =========================================================================

    $size-max:   117.427rem;  // 1878.833px
    $size-21:     82.982rem;  // 1327.709px
    $size-20:     72.575rem;  // 1161.207px
    $size-19:     51.287rem;  //  820.586px
    $size-18:     44.855rem;  //  717.680px
    $size-17:     31.698rem;  //  507.161px
    $size-16:     27.723rem;  //  443.560px
    $size-15:     19.591rem;  //  313.449px
    $size-14:     17.134rem;  //  274.141px
    $size-13:     12.108rem;  //  193.726px
    $size-12:     10.590rem;  //  169.432px
    $size-11:      7.483rem;  //  119.732px
    $size-10:      6.545rem;  //  104.717px
    $size-9:       4.625rem;  //   74.000px
    $size-8:       4.045rem;  //   64.720px
    $size-7:       2.858rem;  //   45.735px
    $size-6:       2.500rem;  //   40.000px
    $size-5:       1.767rem;  //   28.267px
    $size-4:       1.545rem;  //   24.722px
    $size-major:   1.250rem;  //   20.000px
    $size-3:       1.125rem;  //   18.000px
    $size-base:    1.000rem;  //   16.000px
    $size-2:       0.875rem;  //   14.000px
    $size-minor:   0.750rem;  //   12.000px
    $size-1:       0.675rem;  //   10.797px
    $size-min:     0.590rem;  //    9.443px

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

    $galaxie-book:  'Galaxie Polaris Book';
    $galaxie-bold:  'Galaxie Polaris Condensed Bold';
    $galaxie-med:   'Galaxie Polaris Condensed Medium';

    $knockout-fly:      'Knockout HTF46-Flyweight';
    $knockout-feather:  'Knockout HTF48-Featherweight';
    $knockout-junior:   'Knockout HTF30-JuniorWelterwt';

    $interstate:    'Interstate';

    $soren-ex-black:    'Sorren Ex Black';
    $soren-ex-med:      'Sorren Ex Medium';
    $soren-ex-semibold: 'Sorren Ex Semibold';


// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
//  sizes in px for increased specificity
//
// =========================================================================

    $desktop-large:  1280px;
    $desktop:        1024px;
    $tablet-large:   992px;
    $tablet:         767px;
    $mobile-large:   480px;
    $mobile:         320px;

// =========================================================================
//  __     __     __     _____     ______   __  __     ______   
// /\ \  _ \ \   /\ \   /\  __-.  /\__  _\ /\ \_\ \   /\  ___\  
// \ \ \/ ".\ \  \ \ \  \ \ \/\ \ \/_/\ \/ \ \  __ \  \ \___  \ 
//  \ \__/".~\_\  \ \_\  \ \____-    \ \_\  \ \_\ \_\  \/\_____\
//   \/_/   \/_/   \/_/   \/____/     \/_/   \/_/\/_/   \/_____/                                                            
//
// =========================================================================

    $full:    100%;
    $half:    50%;
    $third:   33.3334%;
    $quarter: 25%;
    $fifth:   20%;


// =========================================================================
//   
//  Easing
//
// =========================================================================

    $linear         : cubic-bezier(0.250, 0.250, 0.750, 0.750);
    $ease           : cubic-bezier(0.250, 0.100, 0.250, 1.000);
    $ease-in        : cubic-bezier(0.420, 0.000, 1.000, 1.000);
    $ease-out       : cubic-bezier(0.000, 0.000, 0.580, 1.000);
    $ease-in-out    : cubic-bezier(0.420, 0.000, 0.580, 1.000);

    $easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
    $easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
    $easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
    $easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    $easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
    $easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
    $easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
    $easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);

    $easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
    $easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    $easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
    $easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
    $easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
    $easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
    $easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
    $easeOutBack    : cubic-bezier(0.175, 0.885, 0.320, 1.275);

    $easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);
    $easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);
    $easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);
    $easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);
    $easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);
    $easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);
    $easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);
    $easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);
